.navbar_menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  height: 10vh;
  max-height: 150px;
  min-height: 100px;
  background-color: rgba(255, 0, 0, 0.192);
  width: 100%;
}

.navbar_text {
  margin: 0 15px;
  width: 75px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
